*
{
    margin:0px;
    padding: 0px;
    font-family: Arial,Helvetica,sans-serif;
}
a
{
    text-decoration: none;
}
li
{
    list-style: none;
}
input
{
    outline: none;
}
.clearfix::before,.clearfix::after
{
    display: table;
    content: '';
    clear: both;
}
body
{
    background-image: url("../img/backgroundColor/window.png");
    background-size:cover;
    background-repeat: repeat-y;
}
body::-webkit-scrollbar
{
    width: 0px;
}
button
{
    border: none;
    outline: none;
}
.el-loading-parent--relative .el-loading-spinner
{
    top:20% ;

}
.el-loading-parent--relative .el-loading-spinner i
{
    color: #4b4b4b;
}
.el-loading-parent--relative .el-loading-spinner .el-loading-text
{
    color :#4b4b4b;
}
.single-text-overflow
{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
/****************element-ui全局样式*********************/
/*设置轮播图全局样式*/
div.el-carousel__container
{
    height: 210px;
}
.el-pagination.is-background .el-pager li:not(.disabled).active
{
    background-color: #ec4141!important;
}
/*设置播放器*/
.el-slider__runway{
    margin: 0px!important;
}
.el-slider__button{
    width: 5px!important;
    height: 5px!important;
    background-color: #ec4141!important;
    border: 2px solid #ec4141!important;
}
.el-slider__button.hover{
    cursor: pointer!important;
}
.el-slider__button-wrapper.hover{
    cursor: pointer!important;
}
.el-slider__bar
{
    background-color: #ff4e4e!important;
}
/**************************element-ui全局样式************************************/

/*公共样式*/
.text-nowrap{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
