*
{
    margin:0px;
    padding: 0px;
    font-family: Arial,Helvetica,sans-serif;
}
a
{
    text-decoration: none;
}
li
{
    list-style: none;
}
input
{
    outline: none;
}
.clearfix::before,.clearfix::after
{
    display: table;
    content: '';
    clear: both;
}
body
{
    background-image: url("../img/backgroundColor/window.png");
    background-size:cover;
    background-repeat: repeat-y;
}
body::-webkit-scrollbar
{
    width: 0px;
}
button
{
    border: none;
    outline: none;
}
.el-loading-parent--relative .el-loading-spinner
{
    top:20% ;

}
.el-loading-parent--relative .el-loading-spinner i
{
    color: #4b4b4b;
}
.el-loading-parent--relative .el-loading-spinner .el-loading-text
{
    color :#4b4b4b;
}
.single-text-overflow
{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
/*设置轮播图全局样式*/
div.el-carousel__container
{
    height: 210px;
}